### Map, Reduce & Select in Ruby
Complex Solutions # MapReduceSelectSeries — [Episode 1](https://medium.com/jungletronics/map-reduce-select-in-ruby-b3cf698d99a6)

Index:
```
Debugging Blocks for Map, Reduce, and Select
     Debugging Map Blocks
     Debugging Reduce Blocks
     Debugging Select Blocks
FizzBuzz
Sum of Odd Cubes
Sort a List of Names by Surname
Convert a List of Names to CSV
```

#### **Map**

In [1]:
[1,2,3,4,5].map do |n|
  result = n * n
  puts "The result of function on element: #{n} is #{result}"
  result
end

The result of function on element: 1 is 1
The result of function on element: 2 is 4
The result of function on element: 3 is 9
The result of function on element: 4 is 16
The result of function on element: 5 is 25

[1, 4, 9, 16, 25]

#### **Reduce**

In [2]:
final_anwer = [1,2,3,4,5].reduce(0) do |memo, n|
  memo = memo + n
  puts "After operating on number: #{n}, the memo is #{memo.inspect}"
  memo
end

After operating on number: 1, the memo is 1
After operating on number: 2, the memo is 3
After operating on number: 3, the memo is 6
After operating on number: 4, the memo is 10
After operating on number: 5, the memo is 15

15

#### **Select**

In [3]:
[1,2,3,4,5].select do |n|
  predicate = n %2  == 0
  puts "The predicate is #{predicate} for number #{n}"
  predicate
end

The predicate is false for number 1
The predicate is true for number 2
The predicate is false for number 3
The predicate is true for number 4
The predicate is false for number 5

[2, 4]

#### **FizzBuzz **

In [4]:
fizzbuzz_list = 
(1..15).map do |n|
  if n % 2 == 0
    "fizz"
  elsif n % 3 == 0
    "buzz"
  elsif n % 6 == 0
    "fizzbuzz"
  else
    n.to_s
  end
end

["1", "fizz", "buzz", "fizz", "5", "fizz", "7", "fizz", "buzz", "fizz", "11", "fizz", "13", "fizz", "buzz"]

That’s close, but the fizzbuzz examples didn’t happen at 6 and 12. A closer
inspection of the code suggests that if the number is divisible by 6, it will
always be even and will be caught by the n%2==0 clause. However, if we
catch the n%6==0 clause first, what happens?

In [5]:
fizzbuzz_list =
(1..15).map do |n|
   if n%6 == 0
      "fizzbuzz"
   elsif n%3 ==0
      "buzz"
   elsif n%2 == 0
      "fizz"
   else
      n.to_s
   end
end

["1", "fizz", "buzz", "fizz", "5", "fizzbuzz", "7", "fizz", "buzz", "fizz", "11", "fizzbuzz", "13", "fizz", "buzz"]

#### **Sum of Odd Cubes**

In [7]:
(1..1000).select do |n|
  n % 2 == 1
end.map do |odd_n|
  odd_n ** 3
end.reduce(0) do |previous_sum, odd_cube|
  previous_sum + odd_cube
end

124999750000

#### **Sort a List of Names by Surname**
Suppose you have a list of names in a simple text file called names.txt.

In [10]:
names = <<~TEXT
  John Smith
  Azamat Bagatov
  Hafaz Aladeen
  Ramachandran Balasubrahmaniam
  Ping Li
  Wilfredo Caguiat
  Eriks Ivanans
  Canaan Banana
  Ion Iliescu
  Werner Klempner
  Thierry Giscard
  Joao Soares
TEXT

File.write("05_names.txt", names)

179

The **challenge** is to get the full names printed **in order of the surname**:

In [11]:
names = File.open("05_names.txt", "r").read  #read the file into a string

namelist = names.split("\n") #split the string into an array of names

namelist.map { |fullname| fullname.split(" ") } #split each name into an array of first and last names

namelist.map { |fullname| fullname.split(" ")[1] } #extract only the last names

namelist.map { |fullname| fullname.split(" ")[1] }.sort #sort by last name

namelist.map { |fullname| [fullname.split(" ")[1], fullname] } #annotate names with their last names

sorted_list = namelist.map { |fullname| [fullname.split(" ")[1], fullname] }.sort_by { |last_name, _| last_name } #sort by last name

sorted_names = sorted_list.map { |_, fullname| fullname }.join("\n") #strip sorting keys and reconstruct full names

"Hafaz Aladeen\nAzamat Bagatov\nRamachandran Balasubrahmaniam\nCanaan Banana\nWilfredo Caguiat\nThierry Giscard\nIon Iliescu\nEriks Ivanans\nWerner Klempner\nPing Li\nJohn Smith\nJoao Soares"

In [12]:
puts sorted_names

Hafaz Aladeen
Azamat Bagatov
Ramachandran Balasubrahmaniam
Canaan Banana
Wilfredo Caguiat
Thierry Giscard
Ion Iliescu
Eriks Ivanans
Werner Klempner
Ping Li
John Smith
Joao Soares

Final Solution:

In [13]:
namelist = File.open("05_names.txt", "r").read.split("\n") # Read names from file
namelist
  .map { |fullname| [fullname.split(" ")[1] || fullname, fullname] } # Extract last name, fallback to full name
  .sort_by { |last_name, _| last_name } # Sort by last name
  .map { |_, fullname| fullname } # Keep only the full name
  .join("\n") # Join names into a string

"Hafaz Aladeen\nAzamat Bagatov\nRamachandran Balasubrahmaniam\nCanaan Banana\nWilfredo Caguiat\nThierry Giscard\nIon Iliescu\nEriks Ivanans\nWerner Klempner\nPing Li\nJohn Smith\nJoao Soares"

Second Solution:

In [15]:
File.open("05_names.txt", "r").read.split("\n")
  .map { |fullname| fullname.split(" ", 2) }                        # Split into first and last name
  .map { |first, last| [last || first, first, last].compact }       # Ensure last name exists
  .sort_by { |last, _, _| last }                                    # Sort by last name
  .map { |_, first, last| [first, last].compact.join(" ") }         # Reconstruct full names
  .join("\n")                                                       # Join names into a single string

"Hafaz Aladeen\nAzamat Bagatov\nRamachandran Balasubrahmaniam\nCanaan Banana\nWilfredo Caguiat\nThierry Giscard\nIon Iliescu\nEriks Ivanans\nWerner Klempner\nPing Li\nJohn Smith\nJoao Soares"

Key Differences:

✅ Both solutions start by reading from a file.

✅ The first solution keeps it simple by assuming names are already in a list.

✅ The second solution is slightly more robust, handling cases where names might have multiple words.

Both will now correctly sort names by last name while keeping the full names intact. 🚀


One typical problem is to get a text file that you need to be able to import into a CSV file

For example, to convert 05_names.txt into 06_names.csv, you can use the following:

In [21]:
File.open("05_names.txt", "r").read
File.open("05_names.txt", "r").read.split("\n")
File.open("05_names.txt", "r").read.split("\n").map { |name| name.split(" ") }
File.open("05_names.txt", "r").read.split("\n").map { |name| name.split(" ").reverse.join(", ") }
File.open("05_names.txt", "r").read.split("\n").map { |name| name.split(" ").reverse.join(", ") }.join("\n")

File.write("06_names.csv", ["Surname, First Name", *File.read("05_names.txt").split("\n").map { |name| name.split(" ", 2).reverse.join(", ") }].join("\n"))

210

In [26]:
File.write(
  "07_names.csv",
  (["Surname, First Name"] +
   File.read("05_names.txt")
       .split("\n")
       .map { |name| name.split(" ", 2).reverse.join(", ") }
  ).join("\n")
)

210

In [27]:
puts "That's it!"

That's it!